{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">

<br>
<h1>Reset Your Password:</h1>
<hr>
<br>

<form method="POST">
    <legend>Please enter your email address</legend>

    {% csrf_token %}

    <br>
    {% if form.email.errors %}
        {{ form.email.errors }}
        <br>
    {% endif %}

    <p>
        <label for="id_email">Email address:</label>
        {{ form.email }}
        <br>
        <br>
        <button type="submit" class="btn btn-primary wide-button">Reset Password</button>
    </p>
</form>

</div>
{% endblock %}