{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %}Client{% endblock %}

{% block content %}
<div class="container">

<br>

<div class="row">
    <h1>Add Client Information:</h1>
</div>

<hr>
<br>

    <form method="POST" action="{% url 'create_client' service.id %}">
        <legend style="font-weight:600">{{ service.name }} Plan</legend>
        {{ client_form | as_bootstrap }}
        <input type="hidden" name="purchase_id" value="{{ purchase.id }}">

        {% csrf_token %}

        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary wide-button">Submit Client Information</button>
        </div>
    </form>
</div>
<br>

{% endblock %}