{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %}Purchase{% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <p>Your plan:</p>
    <p>{{ service.name }}</p>
</div>

<form role="form" method="POST" id="payment-form" action="{% url 'purchase' service.id %}">
    <legend>Payment Details:</legend>
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ purchase_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}

    <div class="form-group col-md-12">
        <input type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit" value="Submit Payment">
    </div>
</form>
</div>
{% endblock %}