{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<p>LOG IN</p>
{% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    <!--We use a csrf token to prevent vulnerability to XSS attacks-->
    {% csrf_token %}
    {{ login_form }}
    <button type="submit">Log In</button>
</form>

<p>Forgot your password?<a href="{% url 'password_reset' %}">Reset Password Here</a></p>

{% endblock %}