{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Log In{% endblock %}

{% block login_active %}active{% endblock %}

{% block content %}
<div class="container">
<br>
<h1>Log In to your Account:</h1>
<hr>
<br>
{% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
            <br>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    <!--We use a csrf token to prevent vulnerability to XSS attacks-->
    {% csrf_token %}
    {{ login_form | as_bootstrap }}
    <button type="submit" class="btn btn-primary wide-button">Log In</button>
</form>

<br>

<p>Forgot your password?<a href="{% url 'password_reset' %}">Reset Password Here</a></p>

<br>

</div>
{% endblock %}