{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block title %}Register{% endblock %}

{% block register_active %}active{% endblock %}

{% block content %}
<div class="container">
<br>
<h1>Register your Account:</h1>
<hr>
<br>
{% if messages %}
    <div>
        {% for message in messages %}
            {{ message }}
            <br>
        {% endfor %}
    </div>
{% endif %}

<form method="POST">
    <!--We use a csrf token to prevent vulnerability to XSS attacks-->
    {% csrf_token %}
    {{ registration_form | as_bootstrap }}
    <button type="submit">Register</button>
</form>

<p>Already have an account? You can <a href="{% url 'login' %}">Sign In here.</a></p>

</div>
{% endblock %}