{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block title %}Write a Review!{% endblock %}

{% block content %}
<div class="container">

<br>
<h1>Review a plan:</h1>
<hr>
<br>

<form method="POST" action="{% url 'write_review' client.id %}" enctype="multipart/form-data">
    {{ review_form | as_bootstrap }}

    <!--We use a csrf token to prevent vulnerability to XSS attacks-->
    {% csrf_token %}
    <button type="submit">Submit Review</button>
</form>

<br>

</div>
{% endblock %}