{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Reviews{% endblock %}

{% block reviews_active %}active{% endblock %}

{% block content %}

<br>
<br>

<div class="reviews-title">
    <h1>Reviews for our audits:</h1>
    <hr>
</div>

<br>

<div class="row">
    {% for review in reviews %}
    <div class="col-sm-12 col-md-6">
        <div class="media review-container">
            {% if review.review_image %}
                <img class="review-image" src="{{ MEDIA_URL }}{{ review.review_image }}" alt="Review Image">
                <div class="media-body">
                    <h5 class="mt-0">{{ review.rating }}/10: {{ review.review_title }}</h5>
                    <p>{{ review.review_description }}</p>
                    <small>Review by {{ review.review_username }} on {{ review.date_created }}</small>
                    <small>Last edited {{ review.last_edited }}</small>
                </div>
            {% else %}
                <div class="media-body">
                    <h5 class="mt-0">{{ review.rating }}/10: {{ review.review_title }}</h5>
                    <p>{{ review.review_description }}</p>
                    <small>Review by {{ review.review_username }} on {{ review.date_created }}</small>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<br>


{% endblock %}